@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap');

:root{
    font-family: 'Playfair Display' , sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}
body{
  margin:0; 
  width:100%; 
}
header img{
   width:100%; 
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}


.banner {
background-image: url(../img/hydrangeeheader.jpg);
    height: 750px;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
 
header .menu{
    flex:1;
}

.banner h1{
   color:#fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size:60px;
   animation-name: name;
   animation-duration:2s;
   animation-iteration-count: 1;
   animation-timing-function:linear;
   opacity:1;
}

@keyframes name{
0%{
   opacity:0;     
}
10%{
  opacity:0;  
}
50%{
  opacity:0;  
}
70%{
  opacity:0;  
}
98%{
  opacity:1;  
}
100%{
  opacity:1;  
}
}
.banner h3{
   color:#fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size:24px;
   font-weight: lighter;
   margin-bottom: 220px;
}
main {
    width:100%;
    margin-top:-30px ;
    height:5500px;
    background-color: #fafafa;
}
@media (min-width:320px){
    main{
        width:100%;
        height:4500px;
    }
}

.words{
    color:#fafafa;
    background-color: #000000;
    height: 300px;
    width:100%;
    padding:20% 20% 10% 20%;
    font-size: 34px;
    padding-top:160px;
    border:1px solid transparent;
    position: relative;
}


main .light{
width:80%;
border-bottom:1px solid #fafafa;
margin-right:10%; 
margin-left: 10%;
position:absolute;
}

@media (min-width:320px){
main .light{
padding-top:10px;
margin-top:-40px;
}


@media (max-width:500px){
main .light{
padding-top:10px;
margin-top:-40px;
}
}
@media (min-width:640px){
main .light{
padding-top:10px;
margin-top:-40px;
}
}
@media (min-width:1080px){
main .light{
padding-top:10px;
margin-top: -40px;
position: absolute;
margin-bottom:-100%;
}
}
@media (min-width:320px){
.words{
   text-align: center;
   font-size: 32px; 
   height:700px;  
}
}

@media (min-width:500px){
.words{
   text-align: center;
   font-size: 32px; 
   height:500px;  
}
}
@media (max-width:597px){
 .banner h1{
  text-align: center;
  font-size:40px;
 }   
}

.arrow-7 span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    transform: rotate(45deg);
    animation: arrow-7 2s infinite;
    animation-timing-function: linear;
}
@keyframes arrow-7 {
    0%{
        opacity: 1;
        transform: rotate(45deg) translate (10px,10px);
    }
    50%{
        opacity: 1;
        transform: rotate(45deg) translate (20px,20px);
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px,20px);
    }
    }
    
    .card-group{
      margin-top:-67px; 
      color:#fafafa;
      background-color:#000000;
      padding: 5% 10% 5% 10%;
      max-width:100%;
    }
    .card{
       background-color:#000000; 
    }
    .card-title{
        margin-left:45%;
    }

    #monika{
    margin-left:40%;
    }

    #rose{
    margin-left:20%;
    }
    #sea{
    margin-left:40%;
    }    

@media (min-width: 500px) {
    .card-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:-13%;
  
    }}
@media (min-width: 960px) {
    .card-group {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
  .card-group-white{
      margin-top:15px; 
      color:#000000;
      background-color:#fafafa;
      padding: 5% 10% 5% 10%;
      max-width:100%;
    }

    .card-white{
       background-color:#fafafa; 
    }
    .card-title{
        margin-left:45%;
    }

    #hydrangee{
    margin-left:37%;
    }

    #afina{
    margin-left:40%;
    }
    #chamomile{
    margin-left:40%;
    }  

    #maya{
    margin-left:40%;
    }  
    main .dark {
    width:80%;
    border: 0.5px solid #000000;
    margin-right:10%; 
    background-color: #000000;
    margin-left: 10%;
    margin-top:100px;
    margin-bottom:40px;
    }

 @media (min-width: 500px) {
    .card-group-white {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
    }}

@media (min-width: 960px) {
    .card-group-white {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:10px;
    }
}
main h1{
    text-align: center;
    margin-top:10%;
}
#Bgc{
background-color: #fafafa;
color: #000000;
margin-top:50px;
}

.card-item{
background-color: #fafafa;
}
.card-text-item{
  text-align:center;  
}

 .card-img-list-item{
     width:100px;
     height:100px;
     margin-left:40%;
 }   
#align{
  margin-left: 100px;  
}
.aligner{
  margin-left:20px;  
}
.insta{
color:#005dff;
}

#carouselProducts{
  margin-top:5%;  
}
 main h2{
text-align:center;
margin-top:8%;
margin-bottom:5%;
}

main p{
  width:100%;
  padding:5% 10% 0% 5%;  
}

.font-weight-light{
 padding:2% 10% 0% 10%;  
}

.font-weight-bold{
 padding:2% 10% 0% 10%;
}
footer{
   background-color: #000000; 
   height:13%;
}
footer h1{
    color:#fff;
    padding-top: 55px;
}
footer h2{
  margin: 10px 0 5px 0;  
  color:#fff;
  font-weight:lighter;
}
#alignfooter{
   margin-top:8%;  
}

footer p{
   max-width:960px;
   margin-left: 15%;
   margin-right: 13%;
   color:#fff;
   text-align: center; 
}
@media (min-width:320px){
footer p{
width:100%;
margin-top:20px;
height:150px;
margin-left:0%;
}

@media (min-width:420px){
footer  {
width:100%;
height:700px;
}
.text{
height: 300px;
width:100%;
margin:2% 20% 2% 15%;
}

@media (min-width:320px){
.text {
height:300px;
margin: 60px 40px 10px 0px ;
}
}

@media (min-width:700px){
.text {
height:300px;
margin: 60px 40px 10px 20px ;
}
}

@media (min-width:900px){
.text {
height:300px;
margin:2% 20% 2% 15%;
}
}

.big_square{
    width:80px;
    height:80px;
    border: 2px solid #005dff;
    border-radius:30px;
    align-items: center;
    padding:16px 20px 19px 18px;
    
}

@media(min-width:320px){
.big_square{
   margin-left:42%;
   margin-top:-100px; 
}
}
@media(min-width:430px){
.big_square{
   margin-top:-80px; 
}
}
@media(min-width:610px){
.big_square{
   margin-left:46%;
   margin-top:-80px; 
}}


  .center_square{
    width:40px;
    border-radius:40px;
    height:40px;
    padding:20px 5px 5px 5px;
    border:2px solid #005dff;
    position:absolute;
}

.logo_dot{
background-color: #005dff;
border:1px solid #005dff;
width:20%;
height:20%;
margin-top:-10px;
margin-left:35px;
border-radius:40px;
}

.center_square:hover{
 animation-name: circle;
 animation-duration:1s;
 animation-timing-function: ease-in;
 background-color: #fff;
}

@keyframes circle {
    0%{
     background-color: #005dff;   
    }
    50%{
     background-color: #fff; 
    }
    100%{
     background-color: #fff;
    }
}
